Ini, TOML

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
amd64/
arm/
arm64/
bsearch/
bin/
obj/


.vs/
外观/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.idea/
*.sln.iml

Thumbs.db
ehthumbs.db
Desktop.ini

secrets.json
RecallFlashCardsAPI/appsettings.Development.json